convert_MOT.ipynb
count_seconds.ipynb
modify.ipynb
*.DS_Store
*@eaDir/
videos/Drone/*
videos/Indoor/*
videos/Outdoor/*
BoT-SORT_outputs/Indoor/20*/
BoT-SORT_outputs/Outdoor/20*/
BoT-SORT/YOLOX_outputs/yolox_x_mix_det/track_vis/*
ground_truth/Drone/pose/*.png