*.sh
!/CAMELTrack/run.sh
!/jersey-number-pipeline/run.sh
log/
*.venv
*.mp4
*.log
*.zip
*.png
!/court_images/Outdoor.png
modify.ipynb
ground_truth/Outdoor/delimitation_frames/count_frames.ipynb
script/count_seconds.ipynb
script/Indoor/add_attributes_GT.ipynb
script/Indoor/coloring.ipynb
script/Indoor/count_frames.ipynb
script/Indoor/create_minimap.ipynb
script/Indoor/draw_minimap.ipynb
script/Indoor/initial_location.csv
script/Drone/*
.DS_Store
@eaDir/
videos/Drone/*
videos/Indoor/*
videos/Outdoor/*
output/BoT-SORT_outputs/
output/CAMELTrack_outputs/*
output/jersey-number-pipeline_outputs/*
BoT-SORT/YOLOX_outputs/
jersey-number-pipeline/out/OutdoorResults/*
CAMELTrack/multirun_outputs/
CAMELTrack/outputs/
CAMELTrack/pretrained_models/*
color_histograms/*

